{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1 class="mb-3">1. Encryption</h1>

    <div class="tile tile-bg-gray tile-padding-extra-top mb-1">
        <p>Enter text you would like to hide</p>
    </div>

    {{ form(form) }}
{% endblock %}
