{% extends 'layout/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scanner') }}
{% endblock %}

{% block body %}

    <h1 class="mb-2">Scanner</h1>

    <div id="camera-view-width"></div>

    <div>
        <button class="minimal mb-1" id="init-scan-control" style="display: none">Scan QR code</button>
        <button class="minimal mb-1" id="shutdown-scan-control" style="display: none">Close QR scanner</button>
    </div>
    <div id="camera-feed-wrapper" class="mb-2" style="display: none">
        <canvas id="camera-feed"></canvas>
    </div>
    <div id="generator-list">
        <div></div>
    </div>
{% endblock %}
