{% extends 'layout/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scanner') }}
{% endblock %}

{% block body %}
    <h2>Scanner</h2>
    <div>
        <button id="init-scan-control" style="display: none">Scan QR code</button>
        <button id="shutdown-scan-control" style="display: none">Cancel QR code scan</button>
    </div>
    <div id="camera-feed-wrapper" style="display: none">
        <canvas id="camera-feed"></canvas>
    </div>
    <hr>
    <hr>
    <div id="generator-list">
        <div></div>
    </div>
{% endblock %}
